<h1> Create a New Landmark </h1>

<form method="POST" action="/landmarks">

<h2>What is the landmark's name?</h2>
<p><input type="text" id = "landmark_name" name="landmark[name]">Landmark Name</p>

<h2>In what year was the landmark completed?</h2>
<p><input type="text" id = "landmark_year_completed" name="landmark[year_completed]">Year Completed</p>


<input type="submit" value="Create New Landmark">
</form>